%form{method: 'POST'}
  %textarea{name: 'json', id: 'json'}=@json
  %input{type: 'submit', value: 'Convert!'}

%p Oops, there was an error processing the provided JSON
%p Please double check it is valid.
