!!! 5
%html
  %head
    %title JSON 2 OC - a JSON to Objective-C structure converter
    :css
      body {
        background-color: #222;
        color: #eee;
        font-family: 'Trebuchet MS' sans-serif;
        font-size: .9em;
        width: 80%;
        margin: 0 10%;
      }
      h1, h2 {
        text-align: center;
      }
      h1 {
        font-size: 190%;
        color: #ff6;
      }
      h2 {
        font-size: 130%;
        margin-bottom: 3em;
      }
      textarea {
        background-color: #666;
        color: #eee;
        font-size: 120%;
        width: 100%;
        min-height: 200px;
        border-radius: 10px;
        padding: 1em;
        outline: none;
      }
      input[type=submit] {
        padding: 1em 2em;
        margin: 1em 0;
        font-size: 120%;
        background-color: #696;
        color: #eee;
        border-radius: 10px;
        border: none;
      }
      #github {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
      }
  %body
    %a{href: 'https://github.com/dam5s/json2oc'}
      %img{id:'github', alt: 'Fork Me on Github!', src:'https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png'}
    %h1 JSON 2 OC
    %h2 a JSON to Objective-C structure converter
    = yield
